.printproof-fieldset{
    padding: 0 !important;
}
.printproof{
    padding: 2em 5em;
}
.printproof + .printproof{
    border-top: 1px solid #ccc;
}
.printproof-img{
    text-align: center;
}
.printproof img{
    max-width: 90%;
    max-height: 250px;
}
.printproof-col{
    width: 50%;
    float: left;
}
.printproof-clear{
    clear: both;
}
.status-Rejected{
    color: red;
}
.status-Awaiting{
    color: blue;
}
.status-Approved{
    color: green;
}
.printproof-comment{
    line-height: 1.2em;
    border-top: 1px solid #ccc;
    padding-top: 1em;
    margin-top: 1em;
}
.printproof-comment em{
    font-size: .9em;
}

.printproof-create-fieldset .form-list td.value textarea{
    height: 5em;
}

.printproof-buttons{
    padding: 1em;
}
.printproof-buttons .approved{
    padding-left: 30px;
    position: relative;
}
.printproof-buttons .approved:after{
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    content: " ";
    background: #333;
    width: 10px;
    height: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.printproof-buttons .approved:before{
    position: absolute;
    top: 2px;
    left: 6px;
    display: block;
    content: " ";
    background: #333;
    width: 16px;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.printproof-reply-form{
    padding: 1em;
    display: block;
}
.printproof-reply-button{
    text-align: right;
}