.status-Approved{
    color: green;
}
.status-Rejected{
    color: red;
}
.status-Awaiting{
    color: blue;
}

.printproof-document-icon{
    border: 2px solid #333;
    width: 75px;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    background: white;
    text-align: center;
}
.printproof-document-icon:before{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fafafa;
    position: absolute;
    top: -5px;
    right: -12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.printproof-document-icon:after{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #333;
    position: absolute;
    top: 6px;
    right: -1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.printproof-document-name{
    display: block;
    margin-top: 1em;
}