<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_PrintProof>
            <version>1.0.0</version>
        </Edge_PrintProof>
    </modules>
    <global>
        <blocks>
            <printproof>
                <class>Edge_PrintProof_Block</class>
            </printproof>
        </blocks>
        <models>
            <printproof>
                <class>Edge_PrintProof_Model</class>
                <resourceModel>printproof_resource</resourceModel>
            </printproof>
            <printproof_resource>
                <class>Edge_PrintProof_Model_Resource</class>
                <entities>
                    <proof>
                        <table>printproof</table>
                    </proof>
                </entities>
            </printproof_resource>
        </models>
        <helpers>
            <printproof>
                <class>Edge_PrintProof_Helper</class>
            </printproof>
        </helpers>
        <resources>
            <printproof_setup>
                <setup>
                    <module>Edge_PrintProof</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </printproof_setup>
        </resources>
        <template>
            <email>
                <printproof_create_email_notification module="printproof">
                    <label>Print Proof Email Notification</label>
                    <file>printproof_create_email_notification.html</file>
                    <type>html</type>
                </printproof_create_email_notification>
                <printproof_update_email_notification module="printproof">
                    <label>Print Proof Email Notification</label>
                    <file>printproof_update_email_notification.html</file>
                    <type>html</type>
                </printproof_update_email_notification>
                <printproof_approve_email_notification module="printproof">
                    <label>Print Proof Email Notification</label>
                    <file>printproof_approve_email_notification.html</file>
                    <type>html</type>
                </printproof_approve_email_notification>
                <printproof_update_email_notification_admin module="printproof">
                    <label>Print Proof Email Notification Admin</label>
                    <file>printproof_update_email_notification_admin.html</file>
                    <type>html</type>
                </printproof_update_email_notification_admin>
                <printproof_approve_email_notification_admin module="printproof">
                    <label>Print Proof Email Notification Admin</label>
                    <file>printproof_approve_email_notification_admin.html</file>
                    <type>html</type>
                </printproof_approve_email_notification_admin>
            </email>
        </template>
        <events>
            <printproof_create_adminhtml>
                <observers>
                    <printproof_create_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>notifyCustomer</method>
                    </printproof_create_notify_customer>
                </observers>
            </printproof_create_adminhtml>
            <printproof_update_adminhtml>
                <observers>
                    <printproof_update_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>updateCustomer</method>
                    </printproof_update_notify_customer>
                </observers>
            </printproof_update_adminhtml>
            <printproof_update_customer>
                <observers>
                    <printproof_update_notify_admin>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>updateAdmin</method>
                    </printproof_update_notify_admin>
                </observers>
            </printproof_update_customer>
            <printproof_approved_customer>
                <observers>
                    <printproof_approved_notify_admin>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>approveAdmin</method>
                    </printproof_approved_notify_admin>
                    <printproof_approved_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>approveCustomer</method>
                    </printproof_approved_notify_customer>
                </observers>
            </printproof_approved_customer>
        </events>
    </global>
    <frontend>
        <routers>
            <printproof>
                <use>standard</use>
                <args>
                    <module>Edge_PrintProof</module>
                    <frontName>printproof</frontName>
                </args>
            </printproof>
        </routers>
        <layout>
            <updates>
                <printproof>
                    <file>printproof.xml</file>
                </printproof>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <printproofadmin>
                <use>admin</use>
                <args>
                    <module>Edge_PrintProof</module>
                    <frontName>printproofadmin</frontName>
                </args>
            </printproofadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <printproof>
                    <file>printproof.xml</file>
                </printproof>
            </updates>
        </layout>
    </adminhtml>
</config>