<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_PrintProof>
            <version>1.2.0</version>
        </Edge_PrintProof>
    </modules>
    <global>
        <blocks>
            <printproof>
                <class>Edge_PrintProof_Block</class>
            </printproof>
        </blocks>
        <models>
            <printproof>
                <class>Edge_PrintProof_Model</class>
                <resourceModel>printproof_resource</resourceModel>
            </printproof>
            <printproof_resource>
                <class>Edge_PrintProof_Model_Resource</class>
                <entities>
                    <proof>
                        <table>printproof</table>
                    </proof>
                </entities>
            </printproof_resource>
        </models>
        <helpers>
            <printproof>
                <class>Edge_PrintProof_Helper</class>
            </printproof>
        </helpers>
        <resources>
            <printproof_setup>
                <setup>
                    <module>Edge_PrintProof</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </printproof_setup>
        </resources>
        <template>
            <email>
                <printproof_email_create_notification_template translate="label" module="printproof">
                    <label>Print Proof Created Notification</label>
                    <file>printproof_create_email_notification.html</file>
                    <type>html</type>
                </printproof_email_create_notification_template>
                <printproof_email_approve_notification_template translate="label" module="printproof">
                    <label>Print Proof Approved Notification</label>
                    <file>printproof_approve_email_notification.html</file>
                    <type>html</type>
                </printproof_email_approve_notification_template>
                <printproof_email_approve_notification_admin_template translate="label" module="printproof">
                    <label>Print Proof Approved Notification (Admin)</label>
                    <file>printproof_approve_email_notification_admin.html</file>
                    <type>html</type>
                </printproof_email_approve_notification_admin_template>
                <printproof_email_reject_notification_template translate="label" module="printproof">
                    <label>Print Proof Rejected Notification</label>
                    <file>printproof_reject_email_notification.html</file>
                    <type>html</type>
                </printproof_email_reject_notification_template>
                <printproof_email_reject_notification_admin_template translate="label" module="printproof">
                    <label>Print Proof Rejected Notification (Admin)</label>
                    <file>printproof_reject_email_notification_admin.html</file>
                    <type>html</type>
                </printproof_email_reject_notification_admin_template>
                <printproof_awaiting_proof_follow_up_email translate="label" module="printproof">
                    <label>Print Proof Follow Up Email</label>
                    <file>printproof_awaiting_proof_follow_up_email.html</file>
                    <type>html</type>
                </printproof_awaiting_proof_follow_up_email>
            </email>
        </template>
        <events>
            <printproof_create_adminhtml>
                <observers>
                    <printproof_create_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>notifyCustomer</method>
                    </printproof_create_notify_customer>
                    <printproof_order_status>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>setOrderCommentHistory</method>
                    </printproof_order_status>
                </observers>
            </printproof_create_adminhtml>
            <printproof_approved_customer>
                <observers>
                    <printproof_approved_notify_admin>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>approveAdmin</method>
                    </printproof_approved_notify_admin>
                    <printproof_approved_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>approveCustomer</method>
                    </printproof_approved_notify_customer>
                    <printproof_order_status>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>setOrderCommentHistory</method>
                    </printproof_order_status>
                </observers>
            </printproof_approved_customer>
            <printproof_rejected_customer>
                <observers>
                    <printproof_rejected_notify_admin>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>rejectAdmin</method>
                    </printproof_rejected_notify_admin>
                    <printproof_rejected_notify_customer>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>rejectCustomer</method>
                    </printproof_rejected_notify_customer>
                    <printproof_order_status>
                        <type>singleton</type>
                        <class>Edge_PrintProof_Model_Observer</class>
                        <method>setOrderCommentHistory</method>
                    </printproof_order_status>
                </observers>
            </printproof_rejected_customer>
        </events>
    </global>
    <frontend>
        <routers>
            <printproof>
                <use>standard</use>
                <args>
                    <module>Edge_PrintProof</module>
                    <frontName>printproof</frontName>
                </args>
            </printproof>
        </routers>
        <layout>
            <updates>
                <printproof>
                    <file>printproof.xml</file>
                </printproof>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <printproofadmin>
                <use>admin</use>
                <args>
                    <module>Edge_PrintProof</module>
                    <frontName>printproofadmin</frontName>
                </args>
            </printproofadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <printproof>
                    <file>printproof.xml</file>
                </printproof>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <awaiting_approval_send>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>printProof/observer::sendAwaitingProofApproval</model></run>
            </awaiting_approval_send>
        </jobs>
    </crontab>
</config>