<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <edge translate="label" module="printproof">
            <label>outer/edge</label>
            <sort_order>200</sort_order>
        </edge>
    </tabs>
    <sections>
        <printproof translate="label" module="printproof">
            <class>separator-top</class>
            <label>Print Proof</label>
            <tab>edge</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="printproof">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <companyname translate="label">
                            <label>Company name for print proof updates</label>
                            <comment>
                              <![CDATA[Default will show admin's name.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </companyname>
                        <adminemail translate="label">
                            <label>Send Admin Confirmation Emails To</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </adminemail>
                    </fields>
                </general>
                <email>
                    <class>separator-top</class>
                    <label>Email Templates</label>
                    <tab>edge</tab>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                            <create_notification_template translate="label">
                                <label>New Print Proof Email</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </create_notification_template>
                            <approve_notification_template translate="label">
                                <label>Approve Print Proof Email</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>20</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </approve_notification_template>
                            <approve_notification_admin_template translate="label">
                                <label>Approve Print Proof Email (Admin)</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>30</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </approve_notification_admin_template>
                            <reject_notification_template translate="label">
                                <label>Reject Print Proof Email</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </reject_notification_template>
                            <reject_notification_admin_template translate="label">
                                <label>Reject Print Proof Email (Admin)</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>50</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </reject_notification_admin_template>
                            <printproof_awaiting_proof_follow_up_email translate="label">
                                <label>Awaiting Proof Follow Up Email (Admin)</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_email_template</source_model>
                                <sort_order>60</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </printproof_awaiting_proof_follow_up_email>
                            <printproof_awaiting_proof_follow_up_email_hours translate="label">
                                <label>Followup delay</label>
                                <comment>Number of hours after proof to send followup email</comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>70</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </printproof_awaiting_proof_follow_up_email_hours>
                    </fields>
                </email>
            </groups>
        </printproof>
    </sections>
</config>